* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to top right, #00dbdf, #dc06e4);
  display: block;
  margin: 20px auto;
  align-items: center;
}

form {
  margin: 20px 0 0 30px;
}

.container {
  width: 700px;
  height: 565px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  padding: 0 15px 0 15px;
  box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
  text-align: center;
}

p {
  font-size: 12px;
}

h3 {
  font-style: italic;
  font-size: 25px;
  margin-top: -15px;
}

h1 {
  margin: 30px 0 0 20px;
}

img {
  height: 110px;
  width: 130px;
}

.currentweather .col {
  margin-bottom: -15px;
}

#description {
  text-transform: capitalize;
}

#icon {
  height: 100px;
  width: 100px;
  margin-top: -10px;
  margin-left: -10px;
}

#conditions p {
  line-height: normal;
}

#location {
  display: block;
  margin: 35px 0px 0px 20px;
  border-radius: 15px;
  padding: 10px 5px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: #a19cff;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#location:hover {
  background-color: #f8b900;
}

#location:focus {
  outline: none !important;
}

.currentweather {
  margin: 30px 50px 0 50px;
  padding-top: 15px;
  border-radius: 15px;
  background-color: #e0e0e0;
}

.currentcity {
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h5 i {
  color: #ffb900;
  font-size: 30px;
}

.weekweather {
  padding-top: 10px;
  border-radius: 15px;
  background-color: #e0e0e0;
}

footer {
  margin-left: 300px;
}

footer p {
  font-size: 15px;
}
